:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  --color-main: #ffffff;
  --color-bg: #e6ebe7;
  --color-text: #1e1e1e;
  --color-primary: #42b983;
  --color-primary-hover: #429b40;
  --color-border: #dddddd;
  --color-accent: #ff4081;
  --color-error: #d32f2f;
  --button-raiseY: translateY(-2px);
  --button-hover-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --shadow: 0 8px 24px rgba(0, 0, 0, 0.18), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  --font-body: "Inter", sans-serif;
  --font-heading: "Inter", serif;
  --font-button: "Georgia", monospace;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
