:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;

  /* 🎨 Basic colors */
  --color-main: #ffffff;
  --color-bg: #e6ebe7;
  --color-text: #1e1e1e;

  /* 🎯 Accents */
  --color-primary: #42b983;
  --color-primary-hover: #429b40;
  --color-accent: #ff4081;
  --color-error: #d32f2f;

  /* ⚙️ Secondary*/
  --color-secondary: #6c757d;
  --color-success: #4caf50;
  --color-warning: #ff9800;
  --color-info: #2196f3;
  --color-surface: #f9f9f9;

  /* 🖼️ UI */
  --color-border: #dddddd;
  --overlay-bg: rgba(0, 0, 0, 0.5);

  /* ✨ Effects */
  --button-raiseY: translateY(-2px);
  --button-hover-shadow: 0 4px 8px var(--shadow-color);
  --shadow: 0 8px 24px var(--shadow-color), 0 1.5px 6px var(--shadow-light);
  --shadow-color: rgba(0, 0, 0, 0.18);
  --shadow-light: rgba(0, 0, 0, 0.12);

  /* 🅰️ Fonts */
  --font-body: "Inter", sans-serif;
  --font-heading: "Inter", serif;
  --font-button: "Inter", sans-serif;
}

button {
  background-color: var(--color-primary);
  color: var(--color-main);
  border: 0;
  border-radius: 0.5rem;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background 0.2s ease;
  box-shadow: var(--shadow);
  font-family: var(--font-button);
  font-weight: 700;
}

button:hover {
  background-color: var(--color-primary-hover);
  transform: var(--button-raiseY);
  box-shadow: var(--button-hover-shadow);
}
